h2{
    color: #0F3C73 !important;
}

h3{
    color: #FF6600!important;
}

label{
    color: #0F3C73 !important;
}

.naranja{
    color: #FF6600 !important;
}

.azul{
    color: #356197 !important;
}

.negro{
    color: #000000 !important;
}

.check{
    background-color: #FF6600 !important;
    border: #FF6600 !important;
}

.btn1{
    color: #0F3C73 !important;
}

.animacion1:hover{
    background-color: #0F3C73 !important;
    border: #0F3C73 !important;
    color: #FFFFFF !important;
}

.btn2{
    background-color: #FF6600 !important;
    border: #FF6600 !important;
}