.lorem1{
    background-color: lime !important;
}

.lorem2{
    background-color: fuchsia !important;
}

.lorem3{
    background-color: gray !important;
}

.lorem4{
    background-color: aqua !important;
}

.lorem5{
    background-color: coral !important;
}

.lorem6{
    background-color: blue !important;
}