.fondo{
    background-color: lightblue;
}

.head{
    background-color: darkturquoise;
}

.aside{
    background-color: limegreen;
}

.article{
    background-color: orange;
}

.image{
    background-color: gold;
}

.footer{
    background-color: darkturquoise;
}